$background-color-dark: #000;
$background-color-light: #f0eaf9;
$accent-color: #6930c3;
$text-color-white: #fff;
$text-color-black: #000;
$secondary-text-color-white: #e1d6f3;
$secondary-text-color-black: #0a0513;
